/**
 *	变量定义
 */
$pColor: #333;			//全局字体颜色
$bgColor: #fff;			//全局背景颜色
$fSize: 14px;			//全局字体大小
$hColor: #35B558;		//鼠标移动链接变色
$w: 100%;				//全局块元素宽度
$fFamily: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,sans-serif;
